# build output
dist/
.astro/

# dependencies
node_modules/
supabase/.temp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
conversations/
docs/

# environment variables
.env
.env.production

# Configs
.claude
.wrangler

# macOS-specific files
.DS_Store

# Editors
.idea/
.vscode/
